.header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 22px;
 background-color: #f8f9fa;
 border-bottom: 1px solid #e9ecef;
 height: 20px;
 font-family: 'Arial', sans-serif;
}

/*로고 및 오른쪽 css*/
.logo {
 width: 50px;
 height: auto;
 margin-right: 10px;
}
.right-section {
 font-size: 18px;
 display: flex;
 align-items: center;
 margin-right: 20px;
}
.right-button {
 background: none;
 border: none;
 cursor: pointer;
 transition: all 0.5s ease;
 font-weight: bold;
 font-size: 16px;
 margin-left: 20px;
}
.right-button:hover {
 color: #6A6A6A;
}
.right-button:disabled {
 pointer-events: none;
}

/*왼쪽 텍스트 css*/
.left-section {
 font-style: italic;
 font-weight: bold;
 display: flex;
 align-items: center;
 margin-left:10px;
}
.text-container {
 display: flex;
 flex-direction: column;
}
.title {
 font-size: 24px;
 font-weight: bold;
 margin-top: 5px;
 margin-bottom: 0px;
}
.subtitle {
 font-size: 18px;
 color: #495057;
 margin-bottom: 4px;
}

/* 미디어 쿼리 추가 */
@media (max-width: 827px) {
 .right-section {
   display: none;
 }
}